#root {
  margin: 0 auto;
  width: 100vw;
}

header {
  height: 156px;
  width: 100%;
  background-color: var(--desaturated_dark_cyan);
  background-image: url("../public/images/bg-header-desktop.svg");
}

.wrapper {
  margin-inline: auto;
  max-width: calc(1110px + 4rem);
  padding-inline: 2rem;
}

.job {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 2.5rem;
  background-color: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
  position: relative;
  overflow: hidden;
  box-shadow: -0.5rem 0.5rem 1rem hsla(180, 29%, 50%, 0.3); 
}

.job > *{
  flex: 0 0 auto;
}

.main_tags > *{
  display: inline-block;
}

.subinfo > *{
  display: inline-block;
}

.logo {
  width: 5.625rem;
}

.tablets {
  flex-shrink: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main_tags{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subinfo {
  display: flex;
  gap: 1.125rem;
  color: var(--dark_cyan);
}

.info {
  margin-right: auto;
}

.info h2 {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--very_dark_cyan);
  margin: 0.75rem 0;
}

.info h2:hover{
  color: var(--desaturated_dark_cyan);
  cursor: pointer;
}

.main_tags > *{
  font-weight: 700;
  color: var(--desaturated_dark_cyan);
}

.main_tags h3{
  margin-right: 0.5625rem;
}

/* 0.5625rem */

.tag {
  text-transform: uppercase;
  border-radius: 0.85rem;
  color: #fff;
  background-color: var(--desaturated_dark_cyan);
  padding: 0.5rem 0.5rem 0.3rem 0.5rem ;
}

.second {
  background-color: var(--very_dark_cyan);
}

.job .stroke {
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: var(--desaturated_dark_cyan);
  top: 0;
  left: 0;
  z-index: 99;
}

.tablets button.tablet_button{
  background-color: var(--background_cyan);
  font-weight: 700;
  color: var(--desaturated_dark_cyan);
  border: 0px;
  border-radius: 0.2rem;
  padding: 0.625rem 0.75rem;
  transition: all ease-in-out 0.1s;
}

.tablets button:hover {
  background-color: var(--desaturated_dark_cyan);
  color: var(--background_cyan);
  cursor: pointer;
}

/* search bar */

.searchbar_container {
  background-color: #fff;
  padding: 1.25rem 2.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  box-shadow: -0.5rem 0.5rem 1rem hsla(180, 29%, 50%, 0.3); 
  margin-top: -2.22615625rem;
  margin-bottom: 2.2434375rem;
}

.elments-container {
  flex-shrink: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.searchbar_tag {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--background_cyan);
  border-radius: 4px;
  overflow: hidden;
}

.searchbar_tag_text {
  margin: 0.625rem 0 0.55rem 0.5rem;
  font-weight: 700;
  color: var(--desaturated_dark_cyan);
}

button.tag_close {
  background-color: var(--desaturated_dark_cyan);
  border: 0px;
  padding: 0.625rem 0.625rem 0.5rem 0.625rem;
  transition: all ease-in-out 0.1s;
}

button.tag_close:hover {
  background-color: var(--very_dark_cyan);
  cursor: pointer;
}

button.clearing_button {
  background-color: #fff;
  border: 0px;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--desaturated_dark_cyan);
  text-transform: capitalize;
  margin-left: auto;
}

button.clearing_button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.filler {
  height: 3.28125rem;
}

.sepprator {
  display: none;
}

.attribution { font-size: 11px; text-align: center; margin-bottom: 2rem;}
.attribution a { color: var(--desaturated_dark_cyan); }

@media (max-width: 375px) {

  header {
    background-image: url("../public/images/bg-header-mobile.svg");
  }
  
}

@media (max-width: 500px) {


  .sepprator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--dark_cyan);
  }

  .job {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    overflow: visible;
    margin-bottom: 3.0625rem ;
  }

  .job > *{
    flex-shrink: 1;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 16px;
    width: 3.125rem;
    height: 3.125rem;
    margin-top: -1.5625rem;
  }

  .info h2 {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  .main_tags{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .subinfo {
    gap: 0.5rem;
  }
  
}