@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


 /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


:root {
  font-family: "League Spartan", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --desaturated_dark_cyan: hsl(180, 29%, 50%);
  --background_cyan: hsl(180, 52%, 96%);
  --tablets_cyan: hsl(180, 31%, 95%);
  --dark_cyan: hsl(180, 8%, 52%);
  --very_dark_cyan: hsl(180, 14%, 20%);
}

html {
  box-sizing: border-box;
  font-size: 0.9375rem;
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background_cyan);
}

